[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "aphylo"]
	path = aphylo
	url = https://github.com/uscbiostats/aphylo
	shallow = true
	registered = true
[submodule "cit"]
	path = cit
	url = https://github.com/uscbiostats/cit
	shallow = true
	registered = true
[submodule "fmcmc"]
	path = fmcmc
	url = https://github.com/uscbiostats/fmcmc
	shallow = true
	registered = true
[submodule "hJAM"]
	path = hJAM
	url = https://github.com/uscbiostats/hjam
	shallow = true
	registered = true
[submodule "partition"]
	path = partition
	url = https://github.com/uscbiostats/partition
	shallow = true
	registered = true
[submodule "slurmR"]
	path = slurmR
	url = https://github.com/uscbiostats/slurmr
	shallow = true
	registered = true
[submodule "xrnet"]
	path = xrnet
	url = https://github.com/uscbiostats/xrnet
	shallow = true
	registered = true
[submodule "susieR"]
	path = susieR
	url = https://github.com/lailylajiang/susieR
	shallow = true
	registered = false
