[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "HiLDA"]
	path = HiLDA
	url = https://github.com/uscbiostats/hilda
[submodule "LUCIDus"]
	path = LUCIDus
	url = https://github.com/uscbiostats/lucidus
[submodule "aphylo"]
	path = aphylo
	url = https://github.com/uscbiostats/aphylo
[submodule "cit"]
	path = cit
	url = https://github.com/uscbiostats/cit
[submodule "fmcmc"]
	path = fmcmc
	url = https://github.com/uscbiostats/fmcmc
[submodule "hJAM"]
	path = hJAM
	url = https://github.com/uscbiostats/hjam
[submodule "methcon5"]
	path = methcon5
	url = https://github.com/uscbiostats/methcon5
[submodule "modACDC"]
	path = modACDC
	url = https://github.com/uscbiostats/acdc
[submodule "partition"]
	path = partition
	url = https://github.com/uscbiostats/partition
[submodule "slurmR"]
	path = slurmR
	url = https://github.com/uscbiostats/slurmr
[submodule "susieR"]
	path = susieR
	url = https://github.com/lailylajiang/susieR
	registered = false
[submodule "xrnet"]
	path = xrnet
	url = https://github.com/uscbiostats/xrnet
